:root {
  --blue: #0a73f7;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #FC46AA;
  --red: #dc3545;
  --orange: #fd7e14;
  --bluee: #005aff;
  --green: #00f283;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #ffffff;
  --gray: #868e96;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #aaa6a2;
  --success: #00f283;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

[speech-bubble], [speech-bubble] * { box-sizing: border-box }

[speech-bubble]{
  --bbColor: #ffffe1;
  --bbArrowSize: 1.5rem;
  --bbBorderRadius: 0.25rem;
  --bbPadding: 1rem;
  color: black;
  background: var(--bbColor);
  border-radius: var(--bbBorderRadius);
  padding: var(--bbPadding);
  position: absolute;
  z-index: 10000;
  filter: drop-shadow(0px 0px 0.2rem black);
}

[speech-bubble]::before{
  content: ''; 
  position: absolute;
  background: var(--bbColor);
}

[speech-bubble][pbottom]{ margin-bottom: var(--bbArrowSize) }
[speech-bubble][ptop]   { margin-top: var(--bbArrowSize); }
[speech-bubble][pleft]  { margin-left: var(--bbArrowSize); }
[speech-bubble][pright] { margin-right: var(--bbArrowSize); }


/* bottom and top  */
[speech-bubble][pbottom]::before,
[speech-bubble][ptop]::before{
  --width: calc(var(--bbArrowSize) / 2 * 3);
  height: var(--bbArrowSize);
  width: var(--width);
}

/* bottom */
[speech-bubble][pbottom]::before{
  top: calc(100% - 2px);
}
[speech-bubble][pbottom][aleft]::before{
  left: 1rem;
  clip-path: polygon(25% 0, 100% 0, 0% 100%)
}
[speech-bubble][pbottom][acenter]::before{
  left: calc(50% - var(--width) / 2);
  clip-path: polygon(12.5% 0, 87.5% 0, 50% 100%)
}
[speech-bubble][pbottom][aright]::before{
  right: 1rem;
  clip-path: polygon(0 0, 75% 0, 100% 100%)
}

/* top */
[speech-bubble][ptop]::before{
  bottom: calc(100% - 2px);
}
[speech-bubble][ptop][aleft]::before{
  left: var(--bbPadding);
  clip-path: polygon(0 0, 100% 100%, 25% 100%)
}
[speech-bubble][ptop][acenter]::before{
  left: calc(50% - var(--width) / 2);
  clip-path: polygon(12.5% 100%, 50% 0, 87.5% 100%)
}
[speech-bubble][ptop][aright]::before{
  right: var(--bbPadding);
  clip-path: polygon(0 100%, 100% 0, 75% 100%)
}

/* left and right  */
[speech-bubble][pleft]::before,
[speech-bubble][pright]::before{
  --height: calc(var(--bbArrowSize) / 2 * 3);
  width: var(--bbArrowSize);
  height: var(--height);
}

/* right */
[speech-bubble][pright]::before{
  left: calc(100% - 2px);
}
[speech-bubble][pright][atop]::before{
  top: var(--bbPadding);
  clip-path: polygon(100% 0, 0 100%, 0 25%)
}
[speech-bubble][pright][acenter]::before{
  top: calc(50% - var(--height) / 2);
  clip-path: polygon(0 12.5%, 100% 50%, 0 87.5%)
}
[speech-bubble][pright][abottom]::before{
  bottom: var(--bbPadding);
  clip-path: polygon(0 0, 100% 100%, 0 75%)
}

/* left */
[speech-bubble][pleft]::before{
  right: calc(100% - 2px);
}
[speech-bubble][pleft][atop]::before{
  top: var(--bbPadding);
  clip-path: polygon(0 0, 100% 25%, 100% 100%)
}
[speech-bubble][pleft][acenter]::before{
  top: calc(50% - var(--height) / 2);
  clip-path: polygon(0 50%, 100% 12.5%, 100% 87.5%);
}
[speech-bubble][pleft][abottom]::before{
  bottom: var(--bbPadding);
  clip-path: polygon(0 100%, 100% 0, 100% 75%)
}

/* flip */
[speech-bubble][pbottom][flip]::before,
[speech-bubble][ptop][flip]::before{
  transform: scaleX(-1)
}
[speech-bubble][pleft][flip]::before,
[speech-bubble][pright][flip]::before{
  transform: scaleY(-1)
}




.title-bar-txt{
  font-weight: 700;
  letter-spacing: 0;
  margin-right: 24px;
  -webkit-font-smoothing: none;
  font-family: "Pixelated MS Sans Serif",Arial;
  font-size: 11px;
}

.window-txt{
  -webkit-font-smoothing: none;
  font-family: "Pixelated MS Sans Serif",Arial;
  font-size: 11px;
}


.editor {
  display: flex;
}

.code {
  line-height: 16px !important;
  /* white-space: pre-wrap;  */
  word-wrap: break-word;
  overflow-wrap: break-word;
  
}

.line-numbers {
  text-align: left;
  line-height: 42px;
  margin-left: 20px; /* Spacing between line numbers and code */
  user-select: none; /* Prevents selection of line numbers */
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

@keyframes closeWindowAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}

.close-window {
  animation: closeWindowAnimation 0.5s ease forwards !important;
}

.pop-up {
  animation: popUp 0.5s ease forwards;
  /* opacity: 1 !important; */
}

@keyframes popUp {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  85% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: 10; */
}

#bg {

}

#changeImage {
  border: 1px solid black;
  position: absolute;
  top: 200;
  left: 200;
  z-index: 100000;
}

#bgcontainer{
  position: absolute;
  top: 0;
  left: 0;
  overflow: clip;
}


/*----------------------------------------------------------*/

#defaultCanvas0 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

.aClassName{
  z-index: 0 !important;
}

body {

  margin: 0;
  padding: 0;
  background-color: #c0c0c0 !important;
  background-size: 200px;
  background-repeat: repeat;
  overflow: scroll;
}

.window {
  position: absolute;
}

.lang {
  z-index: 0;
}

.greeting {
  z-index: 1;
}

.greetings{
  opacity: 0;
  width: 250px;
}

.greetingss{
  opacity: 1;
}

.title-bar {
  cursor: move;
  z-index: 10;
}

/* .tree-view{
  height: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
} */

.appended-div {
  position: absolute;
}

.meter {
  box-sizing: content-box;
  height: 5px;
  position: relative;
  margin: 10px 0 15px 0;
  background: #555;
  padding: 0px;
}

.meter>span {
  display: block;
  height: 100%;
  background-color: rgb(0, 255, 68);
  position: relative;
  overflow: hidden;
}

.meter>span:after,
.animate>span>span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}

.overlay {
  position: absolute; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
  pointer-events: none;
}

#google_translate_element{
  position: fixed; /* Sit on top of the page content */
  z-index: 1000;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
}

.toolbar-drag-handle {
  width: 3px;
  margin-right: 3px;
  box-sizing: border-box;
  position: relative;
  touch-action: none;
  box-shadow: inset 1px 1px #fff, inset -1px -1px grey, inset 1px 1px #dfdfdf;
  /* border-top: 2px solid red;
  border-left: 2px solid blue; */
}

.icon{
  width: 16px;
  height: 16px;
  background-image: url(assets/orgimg/browse-ui-icons-grayscale.png);
  background-size: auto 16px;
}
.infoicon{
  width: 14px;
  height: 14px;
  background-image: url(assets/orgimg/info.png);
  background-size: auto 14px;
  margin-right: 5px;
}


.help-icon{
  position: absolute;
  z-index: 10;
  top: 33px;
  left: 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help{
  width: 50px;
  height: 50px;
  background-image: url(assets/orgimg/Help.png);
}

.help-layer {
  display: none;
}
.help-icon:hover + .help-layer {
  display: block;
}

.title {
  font-family: "Times New Roman"!important;
  font-size: 5dvb !important;
  text-shadow: 0.03em 0.03em 0 rgba(0, 0, 0, 0.24);
  flex-direction: column;
  align-items: start !important;  
}

.box{
  font-family: "Times New Roman"!important;
  font-size: 1.5em;
  background: #fff;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
  display: block;
  margin: 0;
  padding: 12px 8px;
}

.article-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}